<ul ngbNav #nav="ngbNav" class="nav-tabs pt-1">
  <li ngbNavItem class="px-2">
    <img src="https://optimo.ge/assets/images/logo/color_text.svg" alt="">
  </li>
  <li ngbNavItem routerLink="dashboard">
    <a ngbNavLink routerLinkActive="active">Home</a>
  </li>
  <li ngbNavItem routerLink="/about">
    <a ngbNavLink routerLinkActive="active">About</a>
  </li>
  <li ngbNavItem routerLink="/contact">
    <a ngbNavLink routerLinkActive="active">Contact</a>
  </li>
  <li ngbNavItem routerLink="/login">
    <a ngbNavLink routerLinkActive="active">Log In</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink (click)="goToJandaba()">Blah&*(^&*%&(</a>
  </li>
</ul>
